[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
pylama = "*"

[packages]
redis = "*"
psycopg2 = "*"
aiohttp = "*"
asyncio-redis = "*"
xmltodict = "*"

[requires]
python_version = "3.7"
