[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
pylama = "*"
aiohttp-autoreload = "*"
bpython = "*"

[packages]
redis = "*"
psycopg2 = "*"
aiohttp = "*"
xmltodict = "*"
aioredis = "*"
async-lru = "*"
lru-cache = "*"
posix-ipc = "*"
aiopg = "*"

[requires]
python_version = "3.7"
