[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytests = "*"
pytest = "*"

[packages]
redis = "*"
psycopg2 = "*"
aiohttp = "*"
asyncio-redis = "*"
xmltodict = "*"

[requires]
python_version = "3.7"
